@{
    ViewData["Title"] = "SiparisDetayi";
}
@model Tuple<List<Order>,List<Product>>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">@*@Model.ID Numaralı *@Sipariş Detayı</strong>
            </div>
            <div class="card-body">


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ürün</th>
                            <th scope="col">Adet</th>
                            <th scope="col">Birim Fiyat</th>
                            <th scope="col">Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal toplamtutar = 0;
                        }
                        @foreach (var item in Model.Item1)
                        {


                            @for (int i = 1; i < item.SiparisDetaylari.Count + 1; i++)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@Model.Item2[i-1].ProductName</td>
                                    <td>@item.SiparisDetaylari[i-1].Quantity</td>
                                    <td>@item.SiparisDetaylari[i-1].UnitPrice</td>
                                    <td>
                                        @{
                                            decimal tutar = (item.SiparisDetaylari[i - 1].Quantity * item.SiparisDetaylari[i - 1].UnitPrice);
                                            toplamtutar += tutar;
                                            <span>@tutar</span>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <th class="text-right" colspan="5">
                                Toplam Tutar: @toplamtutar
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

